

body {
    font-family: Arial, sans-serif;
}

#viewport {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    min-width: 1139px;
    min-height: 100%;
}

input {
    border: 1px solid #d1efe5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 582px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.boxes {
    background-position: -132px -38px;
    opacity: .55;
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    padding: 15px 15px;
}

#search {
    position: relative;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

li {
    text-decoration: none;
    display: inline;
    padding: 10px;
    float: left;
}

li a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    opacity: 0.75;
}

li a:hover {
    text-decoration: underline;
}

#sign-in {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    color: white;
    background: #4387fd;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none !important;
    cursor: default;
    opacity: 1;
}